In [1]:
from utils import load_cell\

import pandas as pd

In [2]:
raw_data_folder = '../0-Dataset/train/'

cell = load_cell(raw_data_folder, 'b1c14')

In [3]:
cycle = cell['cycles']['300']

In [4]:
voltage = cycle['V']
current = cycle['I']
charge_cap = cycle['Qc']
discharge_cap = cycle['Qd']
temperature = cycle['T']
timestaps = cycle['t']

IR = cell['summary']['IR'][10]
chargetime = cell['summary']['chargetime'][10]

In [5]:
df = pd.DataFrame({'V': voltage, 'I': current, 'Qc': charge_cap, 'Qd': discharge_cap, 'T': temperature, 't': timestaps, 'IR': IR, 'chargetime': chargetime})

In [6]:
df.head()

,V,I,Qc,Qd,T,t,IR,chargetime
0,2.283786,0.289827,0.000002,0.0,30.613061,0.000000,0.016465,10.201245
1,2.301465,0.506422,0.000002,0.0,30.613306,0.000520,0.016465,10.201245
2,2.312410,0.614926,0.000002,0.0,30.613475,0.000878,0.016465,10.201245
3,2.333012,0.793315,0.000002,0.0,30.613690,0.001337,0.016465,10.201245
4,2.357006,0.973195,0.000002,0.0,30.613904,0.001792,0.016465,10.201245

In [7]:
df.to_csv('example_test_cell_1.csv')